.menu{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.menu a{
  text-decoration: none;
  font-size: 40px;
  color: black;
  background-color: white;
  background-size: 10px;
  font-weight: bold;
  border-radius: 40%;
}

.menu a:hover{
  color: rgb(80, 79, 79);
  font-size: 41px;
}

