.cabecalho{
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: white;
}

.cabecalho img{
  width: 150px;
}

.menu{
  justify-content: space-around;
}

.menu a{
  margin: 0 50px;
  text-decoration: none;
  font-size: 40px;
  color: #D69A3A;
  font-weight: bold;
}

.menu a:hover{
  color: rgb(80, 79, 79);
  font-size: 41px;
}

