<mat-toolbar class="header">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>

 <div class="header">

  <div class="logo">
      <img src="https://cdn-icons-png.flaticon.com/512/1005/1005141.png">
      <h2>Programação Para Iniciantes</h2>
  </div>

  <div class="menu">
      <a routerLink="/">Home</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/adicionar-curso">Adicionar Curso</a>
  </div>

</div>


 <span class="example-spacer"></span>
 <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
</mat-toolbar>


