.main{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

.animais{
  padding: 5px;
  border: double black;
  background-color: white;
  margin: 10px;
  width: 200px;
  height: 280px;
  border-radius: 10px;
}

.animais img{
  border-radius: 5px;
}

.texto-card p{
  margin: 7px;
}
